
# File endings
*.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*.pyc
*.aux
*.out
*.log
*.synctex.gz
*.png
*.meta
*.index
*.data-00000-of-00001
*.de
*.local
*.rtf
*.bib
*.graffle
*.tikz

# Folders
results/
tex/
labeled_data/heston/
literature/
notes/
.idea
code/notebooks/.ipynb_checkpoints
data/heston
data/rough_bergomi
