
# File endings
*.ipynb_checkpoints/*
*.pyc
*.csv
*.pdf
*.aux
*.out
*.log
*.synctex.gz
*.png
*.meta
*.index
*.data-00000-of-00001
*.de
*.local
*.rtf
*.bib
*.graffle
*.tikz

# Folders
computations/
computations_toy/
results/
